# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# Git
.git
.gitignore

# IDE
.vscode/
.idea/

# Python Cache
.pytest_cache/

# Logs
*.log

# OS
.DS_Store

# Docker
Dockerfile.old

# Bytecode
*.pyc

# Misc
README.old.md
